section.contact-messages
  .container
    .row
      h2.text-center LEAVE MESSAGE
      .col-sm-6
        form
          .form-group
            input.form-control(type="text", placeholder="Your Name")
          .form-group
            input.form-control(type="email", placeholder="Your Email")
          .form-group
            input.form-control(type="text", placeholder="Your Number")    
        
        
      .col-md-6
        form
          .form-group
            textarea.form-control(, placeholder="Write your comment")
          .form-group
            button.btn.btn-block(type="submit", ) Submit
