section.contain-selection-shoes.row
  .col-md-offset-8.col-sm-6.col-md-4
    
    select.wide
      option(data-display="Sort By") Sort By...
      option(value='1') Name
      |       
      option(value='2') Tab
      |       
      option(value='3') Price
    
      
