section.contact-map.container-fluid
  .row
    
    .col-md-6
      .contact-map-title
        .deco-home
        .text-home  
          h4 CONTACT US
          h1 BRIDAL STUDIO
          p Địa chỉ: Tầng 11, 167-169 Điện Biên Phủ,<br>Phường Đa Kao, Quận 1, TPHCM<br>Website: www.bridalstudio.vn<br>Email: hotro@bridalstudio.vn<br>Hotline: 0906 86 00 18
          
        
        
    .col-md-6
      .contact-map-img
        img(src="assets/img/map-contact-02.jpg", alt="")  
