section.home-dress#home-dress.home-res.section
  .deco-home.wow.fadeInLeft(data-wow-offset="160")
  .text-home.wow.fadeInLeft(data-wow-offset="150")
    h4 OUR SERVICE
    h1 BRIDAL DRESS
    p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
    a.button.text-uppercase(href="#") Dress
