section.home-footer#home-footer.section
  .deco-home.wow.fadeInLeft(data-wow-offset="160")
  .container
    .row
      .col-md-6.col-sm-6.col-xs-12
        .text-home.wow.fadeInLeft(data-wow-offset="150")  
          h4 CONTACT US
          h1 BRIDAL STUDIO
          p Địa chỉ: Tầng 11, 167-169 Điện Biên Phủ,<br>Phường Đa Kao, Quận 1, TPHCM<br>Website: www.bridalstudio.vn<br>Email: hotro@bridalstudio.vn<br>Hotline: 0906 86 00 18
      .col-md-6.col-sm-6.col-xs-8
        .img-home-footer
          img(src="assets/img/home-map.jpg", alt="")  
