section.home-shoes#home-shoes.home-res.section
  .deco-home.wow.fadeInLeft(data-wow-offset="160")
  .text-home.wow.fadeInLeft(data-wow-offset="150")
    h4 OUR SERVICE
    h1 BRIDAL SHOES 
    p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
    a.button(href="#") SHOES
