section.home-gallery#home-gallery.home-res.section
  .deco-home.wow.fadeInLeft
  .text-home.wow.fadeInLeft
    h4 HELLO! WE ARE
    h1 BRIDAL STUDIO
    p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
    a.button(href="#") GALLERY
