section.main-products-shoes.row
  
  .col-md-6
    .product-shoes.product-wdress
      .img-wdress
        a(href="#"): img(src="assets/img/wdress/wed-pro-1.jpg", alt="")
          
      a.title(href="#").text-uppercase Wedding dress lady style
      .price
        del $37.99
        span $27.11
      a(href="#"): i.fa.fa-shopping-cart
  
  .col-md-6
    .product-shoes.product-wdress
      .img-wdress
        a(href="#"): img(src="assets/img/wdress/wed-pro-2.jpg", alt="")
          
      a.title(href="#").text-uppercase Wedding dress lady style
      .price
        del $37.99
        span $27.11
      a(href="#"): i.fa.fa-shopping-cart
        
  .col-md-6
    .product-shoes.product-wdress
      .img-wdress
        a(href="#"): img(src="assets/img/wdress/wed-pro-2.jpg", alt="")
          
      a.title(href="#").text-uppercase Wedding dress lady style
      .price
        del $37.99
        span $27.11
      a(href="#"): i.fa.fa-shopping-cart
      
  .col-md-6
    .product-shoes.product-wdress
      .img-wdress
        a(href="#"): img(src="assets/img/wdress/wed-pro-1.jpg", alt="")
          
      a.title(href="#").text-uppercase Wedding dress lady style
      .price
        del $37.99
        span $27.11
      a(href="#"): i.fa.fa-shopping-cart
      
  .col-md-6
    .product-shoes.product-wdress
      .img-wdress
        a(href="#"): img(src="assets/img/wdress/wed-pro-1.jpg", alt="")
        
      a.title(href="#").text-uppercase Wedding dress lady style
      .price
        del $37.99
        span $27.11
      a(href="#"): i.fa.fa-shopping-cart   
  
  .col-md-6
    .product-shoes.product-wdress
      .img-wdress
        a(href="#"): img(src="assets/img/wdress/wed-pro-1.jpg", alt="")
        
      a.title(href="#").text-uppercase Wedding dress lady style
      .price
        del $37.99
        span $27.11
      a(href="#"): i.fa.fa-shopping-cart  

      
