section.pagination-shoes.row
  .pagination-page.col-md-6.col-xs-6
    ul.pagination
      li: a(href='#') 1
      li: a(href='#') 2
      li: a(href='#') 3
  
  .showcase.col-md-6.col-xs-6
      p.text-right Showing 7 of 120 Items    
