section.promotion-contain.container
  
  .promotion-contain.promotion-contain-1.row.wow.slideInLeft
    .promotion-contain-img.col-md-6
      img(src="assets/img/promotion/promotion-01.jpg", alt="")
        
    .promotion-contain-detail.col-md-5
      p.day 12.07.2017 - 22.07.2017
      h3 SALE OFF 80% ALL OUR PRODUCT
      p Với những cặp đôi yêu nhau, ngày cưới luôn là sự kiện trọng đại nhất trong cuộc đời, đánh dấu sự gắn kết của hai người trong hành trình đi tìm hạnh phúc. Tiếp nối mong muốn đưa các cặp đôi đến với những đối tác danh tiếng hàng đầu về lĩnh vực ngành cưới, từ trang phục, phụ kiện, wedding planner, cũng như các dịch vụ đẳng cấp khác.
      p Đây cũng như là một món quà đặc biệt mà Capella Gallery Hall dành tặng riêng cho những cặp đôi sắp kết hôn.
      a.button(href="") See More
    
  .promotion-contain.promotion-contain-2.row.wow.slideInRight
    .promotion-contain-detail.col-md-5
      p.day 12.07.2017 - 22.07.2017
      h3 SALE OFF 80% ALL OUR PRODUCT
      p Với những cặp đôi yêu nhau, ngày cưới luôn là sự kiện trọng đại nhất trong cuộc đời, đánh dấu sự gắn kết của hai người trong hành trình đi tìm hạnh phúc. Tiếp nối mong muốn đưa các cặp đôi đến với những đối tác danh tiếng hàng đầu về lĩnh vực ngành cưới, từ trang phục, phụ kiện, wedding planner, cũng như các dịch vụ đẳng cấp khác.
      p Đây cũng như là một món quà đặc biệt mà Capella Gallery Hall dành tặng riêng cho những cặp đôi sắp kết hôn.
      a.button(href="") See More      
        
    .promotion-contain-img.col-md-6
      img(src="assets/img/promotion/promotion-02.jpg", alt="")
        
  .promotion-contain.promotion-contain-1.row.wow.slideInLeft
    .promotion-contain-img.col-md-6
      img(src="assets/img/promotion/promotion-03.jpg", alt="")
        
    .promotion-contain-detail.col-md-5
      p.day 12.07.2017 - 22.07.2017
      h3 SALE OFF 80% ALL OUR PRODUCT
      p Với những cặp đôi yêu nhau, ngày cưới luôn là sự kiện trọng đại nhất trong cuộc đời, đánh dấu sự gắn kết của hai người trong hành trình đi tìm hạnh phúc. Tiếp nối mong muốn đưa các cặp đôi đến với những đối tác danh tiếng hàng đầu về lĩnh vực ngành cưới, từ trang phục, phụ kiện, wedding planner, cũng như các dịch vụ đẳng cấp khác.
      p Đây cũng như là một món quà đặc biệt mà Capella Gallery Hall dành tặng riêng cho những cặp đôi sắp kết hôn.
      a.button(href="") See More
      
  .promotion-contain.promotion-contain-2.row.wow.slideInRight
    .promotion-contain-detail.col-md-5
      p.day 12.07.2017 - 22.07.2017
      h3 SALE OFF 80% ALL OUR PRODUCT
      p Với những cặp đôi yêu nhau, ngày cưới luôn là sự kiện trọng đại nhất trong cuộc đời, đánh dấu sự gắn kết của hai người trong hành trình đi tìm hạnh phúc. Tiếp nối mong muốn đưa các cặp đôi đến với những đối tác danh tiếng hàng đầu về lĩnh vực ngành cưới, từ trang phục, phụ kiện, wedding planner, cũng như các dịch vụ đẳng cấp khác.
      p Đây cũng như là một món quà đặc biệt mà Capella Gallery Hall dành tặng riêng cho những cặp đôi sắp kết hôn.
      a.button(href="") See More      
        
    .promotion-contain-img.col-md-6
      img(src="assets/img/promotion/promotion-04.jpg", alt="")
        
    
      
      
