section.sidebar-nav-shoes
  h3 what we have
  ul
    li
      a(href="") All we have
    li
      a(href="") Adidas
    li
      a(href="") Channel
    li
      a(href="") Bitis
    li
      a(href="") Louis
