section.sidebar-top-produces
  h4.title TOP SALE PRODUCTS
  
  .products
    img(src="assets/img/shoes/small-01.jpg", alt="")
    
    .detail-products
      h4.title-products: a(href="") MERRICK CLASSIC SMALL BREED
      p.price $29.88  
    div(style="clear: both")  
    
  .products
    img(src="assets/img/shoes/small-02.jpg", alt="")
    
    .detail-products
      h4.title-products: a(href="") MERRICK CLASSIC SMALL BREED
      .discount
        del $29.88  
        p.price $29.88  
    div(style="clear: both") 
     
  .products
    img(src="assets/img/shoes/small-03.jpg", alt="")
    
    .detail-products
      h4.title-products: a(href="") MERRICK CLASSIC SMALL BREED
      p.price $29.88  
    div(style="clear: both")  
    
  .products
    img(src="assets/img/shoes/small-04.jpg", alt="")
    
    .detail-products
      h4.title-products: a(href="") MERRICK CLASSIC SMALL BREED
      p.price $29.88  
    div(style="clear: both")  
    
  .products
    img(src="assets/img/shoes/small-05.jpg", alt="")
    
    .detail-products
      h4.title-products: a(href="") MERRICK CLASSIC SMALL BREED
      p.price $29.88  
    div(style="clear: both")    
