section.spaning
  .deco
    a(href="#home-gallery"): span.span1.is-spaning
    a(href="#home-shoes"): span.span2 
    a(href="#home-dress"): span.span3  
    a(href="#home-footer"): span.span4  
  .social
    a(href="#"): i.fa.fa-facebook
    a(href="#"): i.fa.fa-twitter
    a(href="#"): i.fa.fa-google-plus
    a(href="#"): i.fa.fa-pinterest-p
    a(href="#"): i.fa.fa-instagram
 
      
    
