doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Bridal
    <!-- Place somewhere in the <head> of your document -->
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css')
    link(rel="stylesheet" href="assets/css/main.css")
    link(rel="stylesheet" href="assets/css/nice-select.css")
      
    link(rel="stylesheet" href="assets/css/jquery.fullPage.css")
      
    

  body.index-page
    #fullpage.fullpage-wrapper
      .home-wrap
        include jadefiles/header.jade
        
        .home-sections
          include jadefiles/home-gallery.jade
          include jadefiles/home-shoes.jade
          include jadefiles/home-dress.jade
          include jadefiles/home-footer.jade
          include jadefiles/spaning.jade
        
        

    //- div(style="height: 1000px")  
      
    
    script(src='https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js')
    script(src="assets/js/jquery-3.1.1.min.js")
    //- script(src='assets/js/jquery-2.1.4.js')

    //- script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')


    script(src="assets/js/bootstrap.min.js")
    script(src='assets/js/smooth-scroll.js')
    script(src="assets/js/jquery.easing.1.3.js")
    script(src="assets/js/spanning.js")
      
    script(src="assets/js/functions.js")
      
      
    script(src="assets/js/wow.min.js")
    script(src="assets/js/jquery.nice-select.js")
      
    script(src="assets/js/scrolloverflow.min.js")
    script(src="assets/js/jquery.fullPage.js")
      
      
  

  
